/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.moviePreview{
  justify-content: space-around;
  max-width: 95px;
  max-height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
